/* You can add global styles to this file, and also import other style files */
// customize some theme variables, e.g.:
$mdc-theme-primary: #416dee;
$mdc-theme-secondary: #98cb7a;
$mdc-theme-background: #fff;

// import theming for all mdc components:
@import "material-components-web/material-components-web";
